<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <form action="/login" method="post">
        <label for="id_username">用户名</label>
        <input type="text" name="username" id="id_username" placeholder="输入用户名"><br>
        <label for="id_password">密码</label>
        <input type="password" name="password" id="id_password" placeholder="输入密码"><br>
        <button type="submit">登录</button>
        {% if message %}
        <p style="color:red">{{ message }}</p>
        {% endif %}
    </form>
</body>
</html>